
.app-display {
    color: hsl(0, 0%, 0%);
    height: 100%;
    overflow: auto;
    padding: 100px 0 400px;
    font-family: Menlo;
}

.app-display .command {}

.app-display .stdout {
    line-height: 2em;
    font-family: Menlo;
    font-size: 12px;
}
