
.app-history {
    background-color: hsl(0, 0%, 96%);
    margin: 10px;
}

.app-history .stdout {
    font-family: Menlo;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    padding: 0.5em 1em;
}