
.app-layout {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 0%);
}

.app-header {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 0%);
}

.app-header input {
    background-color: hsl(0, 0%, 24%);
    color: white;
}

.app-header > div {
}

.app-header > div {
    display: flex;
}

.app-body {
    flex: 1;
}

.active-group {
    flex: 1;
    padding: 140px 0 400px;
}
.inactive-group {
    flex: 1;
    margin-left: 20px;
    padding: 140px 0 400px;
}

.app-header .clear {
    width: 32px;
    cursor: pointer;
    height: 32px;
    margin-left: 20px;
}

.app-header .clear .trigger {
    fill: hsl(30, 66%, 60%);
}