
.app-layout {
    display: flex;
    flex-direction: row;
    /* background-color: hsl(142, 63%, 88%); */
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    align-items: stretch;
}

.app-header {
    display: flex;
    flex-direction: row;
}

.app-header input {
    color: hsl(0, 0%, 51%);
}

.app-header > div {
}

.app-header > div {
    display: flex;
}

.app-body {
    flex: 1;
    padding-bottom: 400px;
}

.active-group {
    flex: 1;
    padding: 80px 10px 400px 20px;
}
.inactive-group {
    flex: 1;
    padding: 80px 10px 400px 20px;
}

.app-header .clear {
    width: 32px;
    cursor: pointer;
    height: 32px;
    margin-left: 20px;
}

.app-header .clear .trigger {
    fill: hsl(30, 66%, 60%);
}