
@import url(command.css);
@import url(directory.css);
@import url(draft.css);
@import url(monitor.css);
@import url(display.css);
@import url(layout.css);

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
  /* box-shadow: 0 0 1px; */
}

.app-history .header {
    padding: 0 1em;
}

.app-history .command {
    font-family: Menlo;
}

.app-history .pid {
    margin-right: 1em;
}

input {
    outline: none;
    border: none;
    /* box-shadow: 0 0 1px black; */
}

body, input, textarea {
  font-size: 16px;
  line-height: 2em;
  font-family: HelveticaNeue-Light;
}

.line > span + span {
  margin-left: 0.5em;
}

.origami-complete,
.origami-complete input {
    font-family: Ubuntu Mono, monospace;
}

.app-layout .origami-complete .complete-menu {
    background-color: hsl(0, 0%, 24%);
    color: white;
}

.app-layout .origami-complete .complete-item {}
.app-layout .origami-complete .complete-item.is-selected,
.app-layout .origami-complete .complete-item:hover {
    background-color: hsl(0, 0%, 31%);
}
