
@import url(command.css);
@import url(directory.css);
@import url(draft.css);
@import url(monitor.css);
@import url(display.css);
@import url(layout.css);

body {
  margin: 0;
  background-color: hsl(190, 86%, 33%);
  background-image: url(../images/circuit-wallpaper.jpg);
  background-attachment: fixed;
}

body * {
  box-sizing: border-box;
  /* box-shadow: 0 0 1px; */
}

.app-history .header {
    padding: 0 1em;
}

.app-history .command {
    font-family: Menlo, Consolas, MicroSoft Yahei, monospace;
}

.app-history .pid {
    margin-right: 1em;
}

input {
    outline: none;
    border: none;
    /* box-shadow: 0 0 1px black; */
}

::-webkit-input-placeholder {
  color: hsla(0,90%,100%,0.6);
}

body, input, textarea {
  font-size: 16px;
  line-height: 2em;
  background-size: cover;
}

.line > span + span {
  margin-left: 0.5em;
}

.origami-complete,
.origami-complete input {
    font-family: Ubuntu Mono, Consolas, MicroSoft Yahei, monospace;
    background-color: hsla(240, 80%, 20%, 0.2);
    color: white;
}

.app-layout .origami-complete .complete-menu {
    background-color: hsla(240, 60%, 20%, 0.6);
    color: white;
    max-height: 400px;
    overflow: hidden;
}

.app-layout .origami-complete .complete-item {}
.app-layout .origami-complete .complete-item.is-selected,
.app-layout .origami-complete .complete-item:hover {
    background-color: hsla(240, 40%, 60%, 0.6);
}

.react-origami-lightbox .lightbox-backdrop {
  z-index: 100;
}

.origami-bottoming {
  height: 100%;
}
