
.app-monitor {
    margin: 10px;
    background-color: hsl(0, 0%, 49%);
    color: white;
    font-family: Ubuntu Mono, monospace;
    font-size: 14px;
}

.app-monitor.is-alive {
    background-color: hsl(98, 54%, 63%);
}

.app-monitor > .stdout {
    overflow: hidden;
    padding: 0 10px;
    line-height: 1.6em;
}

.app-monitor .header {
    display: flex;
    flex-direction: row;
}

.app-monitor .header .info {
    flex: 1;
    padding: 0 10px;
}

.app-monitor .header .control {
    height: 32px;
}

.app-monitor .header .trigger {
    fill: hsl(0, 100%, 50%);
    cursor: pointer;
}

.app-monitor .rich-stdout {
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
}

.app-monitor .rich-stdout .more {
    color: hsl(216, 4%, 70%);
}
