
.app-monitor {
    background-color: hsl(0, 0%, 13%);
    color: hsl(205, 100%, 93%);
    font-family: Ubuntu Mono, monospace;
    font-size: 14px;
    margin-top: 20px;
}

.app-monitor pre {
    font-family: Menlo;
    line-height: 2em;
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
}

.app-monitor.is-alive {
}

.app-monitor > .stdout {
    overflow: hidden;
    padding: 10px 10px;
}

.app-monitor .header {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 28%);
}

.app-monitor .header .info {
    flex: 1;
    padding: 0 10px;
}

.app-monitor .header .control {
    height: 32px;
}

.app-monitor .header .trigger {
    fill: hsl(30, 65%, 60%);
    cursor: pointer;
}

.app-monitor .rich-stdout {
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
    line-height: 1.6em;
    font-family: Menlo;
}

.app-monitor .rich-stdout .more {
    color: hsl(189, 100%, 61%);
    background-color: hsla(93, 11%, 57%, 0.54);
    height: 6px;
    margin: 10px -10px;
}
